language: ruby

addons:
  hosts:
    - local.comments.savaslabs.com

services:
  - docker

before_install:
  - docker version
  - docker-compose version
  - cp docker-compose.local.travis.yml docker-compose.local.yml

install:
  - make install
  - curl https://www.teleconsole.com/get.sh | sh
  - teleconsole

script:
  - make test

after_failure:
  - docker logs squabble_app_1
  - docker exec -it squabble_app_1 cat storage/logs/lumen.log
